/* quality section */
.quality-section{
  margin: 0px 80px;
  background-image: url("../../assets/about/desktop/bg-quality.png");
  border-radius: 10px;
}
.quality-section-container{
  height: 474px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.quality-section-text{
  color: #FEFCF7;
  width: 540px;
  margin-bottom: 40px;
}
.quality-section-title{
  font-size: 40px;
}
.quality-section-descrip{
  font-size: 16px;
}

.quality-section-img{
  width:445px;
  height:474px;
  border-radius: 8px;
  margin-bottom: 200px;
}

/* mobile */

@media screen and (max-width: 600px) {
  .quality-section{
    margin: 0px 0px;
    margin-top: 80px;
    background-image: url("../../assets/about/mobile/bg-quality.png");
    border-radius: 10px;
    width: 327px;
    height: 509px;
  }
  .quality-section-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
  .quality-section-text{
    color: #FEFCF7;
    width: 279px;
    text-align: center;
  }
  .quality-section-title{
    font-size: 28px;
  }
  .quality-section-descrip{
    font-size: 16px;
  }
  .quality-section-img{
    width: 279px;
    height:156px;
    border-radius: 8px;
    margin-bottom:20px;
    margin-top: 40px;
  }
  
}