@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@400&display=swap");

body {
  background-color: #fefcf7;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
button {
  font-family: "Fraunces", serif;
}
p,
li {
  font-family: "Barlow", sans-serif;
}

